# Habilita ajuste suave de linhas compridas
set softwrap

# Numero de tabs
set tabsize 4

# Desabilita a inserção de última linha
#set nonewlines

# Desabilita modo de ajuda.
set nohelp

# Mostra informações (col/line/cursor)
set constantshow

# Autoindentação
set autoindent

# Tab para backspace
set tabstospaces

# Multiplos buffers por padrão
set multibuffer

# Mostra linhas no início
set linenumbers

# Faz backups automáticos antes de salvar
set backup

####
# Cores foreground, background
####

set titlecolor brightyellow,black
set statuscolor brightcyan,black
set keycolor cyan
set functioncolor brightgreen
set numbercolor brightmagenta,black
set selectedcolor blue

####
# Realces de sintaxe
####

#include "/usr/share/nano/*.nanorc"

# Atalhos de Teclado Personalizados
bind ^S savefile main
#bind ^F findfile main
#bind ^G gotoline main
#bind ^X cut main
#bind ^C copy main
#bind ^V paste main
#bind ^Z undo main
#bind ^Y redo main
#bind ^D duplicate main
